#register-container {
  width: 400px;
  margin: 100px auto 0 auto;
  text-align: center;
  .links {
    display: flex;
    justify-content: flex-end;
  }
  .btn {
    width: 100%;
  }

  .captcha-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}
